<h1>Editing route_stop</h1>

<% form_for(@route_stop) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :route_id %><br />
    <%= f.text_field :route_id %>
  </p>
  <p>
    <%= f.label :stop_id %><br />
    <%= f.text_field :stop_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @route_stop %> |
<%= link_to 'Back', route_stops_path %>