<h1>New bus_route</h1>

<% form_for(@bus_route) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bus_route_id %><br />
    <%= f.text_field :bus_route_id %>
  </p>
  <p>
    <%= f.label :route_type %><br />
    <%= f.text_field :route_type %>
  </p>
  <p>
    <%= f.label :route_number %><br />
    <%= f.text_field :route_number %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bus_routes_path %>