<p>
  <b>Stop:</b>
  <%=h @bus_stop.stop_id %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @bus_stop.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @bus_stop.latitude %>
</p>


<%= link_to 'Edit', edit_bus_stop_path(@bus_stop) %> |
<%= link_to 'Back', bus_stops_path %>